body {
  font-family: "Montserrat", sans-serif;
}
nav {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.font {
  font-family: "Montserrat", sans-serif;
}

.bg-custom-1 {
  background-color: #112031;
}

.title {
  margin-top: 50px;
}

blank {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
}

list {
  padding-top: 10 px;
  width: 20%;
  height: 500px;
  justify-content: left;
  align-items: left;
  float: left;
}

main {
  width: 79%;
  height: 600px;
  float: left;
  box-sizing: border-box;
}

ul {
  display: block;
  margin-bottom: 100px;
  text-decoration: none;
}
li {
  display: block;
}

.link {
  color: black;
  text-decoration: none;
  margin-left: 50px;
  margin-bottom: 10px;
}

.card {
  text-align: center;
}
.card-img-top {
  width: 30px;
  height: 100%px;
}
.button {
  background: url("../img/Group\ 10.png") no-repeat;
  cursor: pointer;
  width: 350px;
  height: 250px;
  border: none;
}
.imageedit {
  position: absolute;
  width: 40px;
  left: 165px;
}
